@model MockStudentManager.ViewModels.HomeDetailsViewModel
@{
    ViewData["Title"] = "TestStrongModel";
}

<h1>TestStrongModel</h1>
<div>@Model.PageTitle</div>
<div>@Model.StudentInfo.Email</div>
<div>@Model.StudentInfo.Name</div>
<div>@Model.StudentInfo.Major</div>

